.custom-gamer-logo-insertion{
    width: auto; 
     height: auto; 
     display: flex; 
     flex-wrap: wrap;
     justify-content: center;
    align-items: center; 
    margin-top:5%;
}

.projects ul{
    display:flex;
    justify-content: center;
}

.projects ul li:hover{
    color:lightseagreen;
    cursor:pointer;
}

/* Start of Projects */
.projects-container{
    text-align: center;
}

.projects-container h1 {
    margin: 1rem;
    margin-top:2%;
}

/* .projects-container ul {
   
} */


.projects-container li {
    margin:2rem;
   
    list-style-type: none;
}


.gamer-logo{
    width: 275px;
    height: 275px;
    margin:1rem;
    border-radius: 50%;
    background-size: cover; /* Ensures the image covers the div */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center; /* Keeps the image centered */
    /* border: 2px solid white; */
    cursor:pointer;
}

.gamer-logo:hover{
    box-shadow:2px 2px 2px 4px white;
    scale:1.7;
    z-index:2;
}

.custom-gamer-logo-examples{
    display:flex;
    flex-direction: flex;
    flex-wrap: wrap;
    margin:0 auto;
    overflow: scroll;
   
}

.change-background-container{
    margin:0 auto;
    
}

.change-background{
    margin: 0 auto;
    width:100vw;
    height:100vh;

}

.change-background-buttons-container{
    margin: 0 auto;
    width:100vw;
    display:flex;
    justify-content: center;
    padding:2rem;
}

.change-background-buttons-container button{
    margin:1rem;
    padding:1rem;
}